body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(233, 47%, 7%);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    height: 448px;
    margin: 0 auto;
    border-radius: 7px;
}

main section {
    display: flex;
    flex-direction: column;
    margin: 50px 60px 50px 50px;
    padding: 20px;
}

section h1 {
    color: hsl(0, 0%, 100%);
    width: 400px;
    font-size: 36px;
    font-weight: 900;
    margin-right: 20px;
    line-height: 45px;
    font-family: 'Inter', sans-serif;
}

h1 span {
    color: hsl(277, 64%, 61%);
}

section .text_descritivo {
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 25px;
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    width: 350px;
    font-family: 'Inter', sans-serif;
}

.lista {
    display: flex;
    margin-top: 
    67px;
    gap: 67px;
}

.lista li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

li samp {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 100;
    letter-spacing: 1px;
}

.imagem {
    border-radius: 0 7px 7px 0;
}

picture {
    position: relative;
}

picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #59028fa2;
    z-index: 1;
    
}

